.sidebar .container {
    background-color: #ebebeb;
    width: 14vw;
    height: 500px;
    text-align: center;
    padding: 40px 0;
    overflow: hidden;
}
.sidebar li {
    list-style: none;
    margin-bottom: 40px;
    font-size: 16px;
}
.sidebar a {
    color: #aaa;
}
/* サイドバーのフォーム */
.sidebarForm p {
    margin-bottom: 4px;
}
.sidebarFormItem {
    overflow: hidden;
	width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	background: #ffffff;
}
.sidebarFormItem select{
    width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
    appearance: none;
    padding: 8px 38px 8px 8px;
    color: #666666;
}
.sidebarFormItem select::-ms-expand {
    display: none;
}
.sidebarFormItem::before{
    position: absolute;
	top: 0.8em;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666666;
	pointer-events: none;
}
.submitCenter {
	color: #666;
    background-color: #fff;
    width: 100px;
    margin-top: 50px;
    height: 30px;
    border: 1px solid #666;
    border-radius: 2px;
	font-size: 15px;
	cursor: pointer;
}